@* <a href="/">
  <img id="logo" src="~/images/logo.png" alt="logo for application, click on routes to home page">
</a> *@

<div id="navbar">
  <a class="navButton m-2">@Html.ActionLink("Treats", "Index", "Treats")</a>
  <a class="navButton m-2">@Html.ActionLink("Flavors", "Index", "Flavors")</a>
</div>
<hr />