@{
  ViewData["Title"] = "Delete treat";
  Layout = "_Layout";
}
@model Pierre.Models.Treat

<h2>Are you sure you want to delete "@Model.Name"?</h2>
@using (Html.BeginForm())
{
  <input type="submit" value="delete" />
}
<p>@Html.ActionLink("Back to treat list", "Index")</p>