@{
  ViewData["Title"] = "Join treat to flavor";
  Layout = "_Layout";
}
@model Pierre.Models.Flavor

<h2>Add a treat to "@Html.DisplayFor(model => model.Type)"</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select treat")
  @Html.DropDownList("TreatId")
  <br />
  <input type="submit" value="Save" />
}