@{
  ViewData["Title"] = "Flavors";
  Layout = "_Layout";
}
@using Pierre.Models;

<h1>Flavors Index Page</h1>
@if (@Model.Count == 0)
{
  <h3>No flavors have been created...</h3>
}
else
{
  <ul>
  @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.Type}", "Details", new { id = flavor.FlavorId }) </li>
    }
  </ul>
}
<p class="button-55">@Html.ActionLink("Add new flavor", "Create")</p>